/* General body styles */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

/* Draggable container styles */
.draggable-container {
  position: absolute;
  user-select: none;
  cursor: move;
}

/* Inner container styles */
.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Button group styles */
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 50px 5px;
  background: rgb(233, 228, 228);
  padding: 2px;
  margin-bottom: 2px;
  position: relative;
  z-index: 1;
}

/* Spacing between buttons */
.btn-group button {
  border: none;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
  margin: 0 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.btn-group button:hover {
  transform: translateY(-2px); /* Subtle lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style arrow icon button */
.btn-group button.icon {
  background-color: rgb(233, 228, 228);
  color: #04AA6D;
}

.btn-group button.icon:hover {
  background-color: #e1e1e1;
}

/* Style bulb icon button */
.btn-group button.icon1 {
  background-color: #04AA6D;
  color: white;
  border-radius: 50px 50px 50px 5px;
  
}

.btn-group button.icon1:hover {
  background-color: #029658;
}

/* Alert box styles */
.alert-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 10;
}

/* Alert box button styles */
.alert-box button {
  margin: 10px;
  padding: 12px 25px;
  background: white;
  color: #04AA6D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alert-box button:hover {
  background-color: #e1e1e1;
}

/* Download Report button styles */
.alert-box .download-report {
  background-color: #04AA6D;
  color: white;
  margin-top: 20px;
}

.alert-box .download-report:hover {
  background-color: #029658;
}

/* Alert box icon button styles */
.alert-box .icon-button {
  background-color: #04AA6D;
  color: white;
  border-radius: 50%;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.alert-box .icon-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close alert button styles */
.close-alert {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: #000;
  cursor: pointer;
}

/* Search space styles */
.search-space-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-space {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  transition: all 0.3s ease;
}

.search-space input {
  flex-grow: 1;
  padding: 0 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 40px;
  outline: none;
  z-index: 1;
  box-sizing: border-box;
}

.search-space input:focus {
  border-color: #04AA6D;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.search-space button {
  padding: 0 20px;
  background: #04AA6D;
  color: white;
  border: none;
  border-radius: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Default buttons container styles */
.default-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.default-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  transition: transform 0.3s;
}

.default-buttons button:hover {
  transform: translateY(-2px);
}

/* Upload space styles */
.upload-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.upload-space .file-upload {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.upload-space .file-upload input {
  margin-right: 5px;
}

.upload-space .file-upload button {
  padding: 0 15px; /* Adjusted padding if needed */
  background: #04AA6D;
  color: white;
  border: none;
  border-radius: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Download Report button styles */
.upload-space .download-report {
  background-color: #04AA6D;
  color: white;
  margin-top: 10px; /* Adjusted margin */
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upload-space .download-report:hover {
  background-color: #029658;
}

/* Search results styles */
.search-results {
  margin-top: 10px;
}
