/* General body styles */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  text-align: center;
   /* Ensure there is no default margin */
  box-sizing: border-box; /* Apply box-sizing border-box globally */
}
